@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #060606;
	font-weight: 400;
	font-size: 16px;
	color: #9f9f9f;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}

.drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(5px);
}

.custom-stroke {
	position: relative;
	-webkit-text-stroke: 1px #fff;
	color: transparent;
	animation: upsAndDown 2s infinite linear;
}
.keyFramAnimation {
	position: relative;
	animation: upsAndDown 2s infinite linear;
}

@keyframes upsAndDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fill {
	from {
		width: 0;
	}
}

@media screen and (max-width: 575px) {
	.my-image.relative img {
		width: 240px;
	}
}
